# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py
media/
staticfiles/
*.mo

# PyCharm
.idea/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
*.tmp
